.contianer {
  height: 60px;
  background-color: #20232a;
  font-size: 20px;
  line-height: 30px;
  .navBox {
    float: right;
    padding: 15px;
    .navLink {
      margin-right: 15px;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      &:hover {
        color:#81d8f7
      }
      &.active {
        color: #81d8f7
      }
    }
  }
}